---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import PostItem from "@components/PostItem";

const postEntries = await getCollection("post");
---

<Layout title="Post List">
  <div class="divide-y divide-solid divide-black">
    {postEntries.map((entry) => <PostItem post={entry} />)}
  </div>
</Layout>
