@import url("./font.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
  }

  .dark {
    --color-bg-body: 56 56 56;
    --color-text-body: 245 245 245;
    --color-prose-body: 190 190 190;
  }

  :root {
    background-color: theme("colors.bg.body");
    color: theme("colors.text.body");
  }

  .giscus {
    margin-top: 10rem;
  }
}
