---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const postEntries = await getCollection("post");
---

<Layout title="Welcome to Astro.">
  {
    postEntries.map((entry) => (
      <div>
        <a href={`/posts/${entry.slug}`}>{entry.data.title}</a>
      </div>
    ))
  }
</Layout>
