---
const navigationItems = ["Posts", "Tags"];
const { pathname } = new URL(Astro.request.url);
const currentPath = pathname.split("/")[1];
---

<header>
  <div class="flex justify-between items-center sm:w-full">
    <div class="text-2xl text-bold">
      <a href="/">
        <h1>Woong.log</h1>
      </a>
    </div>
    <nav>
      <ul class="flex">
        {
          navigationItems.map((item) => (
            <a href={`/${item.toLowerCase()}`}>
              <li
                class={`mx-3 my-5 duration-300 hover:opacity-100 ${
                  currentPath === item.toLowerCase()
                    ? "opacity-100"
                    : "opacity-30"
                }`}
              >
                {item}
              </li>
            </a>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
