<header class="sticky top-0 bg-white">
  <div class="flex justify-between items-center border-b mb-12 px-3">
    <div class="text-2xl font-bold">
      <a href="/">
        <h1>
          Woong<span class="text-blue-400 text-4xl leading-4">.</span>log
        </h1>
      </a>
    </div>
    <nav>
      <ul class="flex">
        <a href={`/`}>
          <div class={`px-3 py-5`}>
            <li>Posts</li>
          </div>
        </a>
      </ul>
    </nav>
  </div>
</header>
