---
const navigationItems = ["Posts"];
---

<header class="sticky top-0 bg-white">
  <div class="flex justify-between items-center border-b sm:w-full mb-12">
    <div class="text-2xl font-bold">
      <a href="/">
        <h1>
          Woong<span class="text-blue-400 text-4xl leading-4">.</span>log
        </h1>
      </a>
    </div>
    <nav>
      <ul class="flex">
        {
          navigationItems.map((item) => (
            <a href={`/${item.toLowerCase()}`}>
              <div class={`px-3 py-5`}>
                <li>{item}</li>
              </div>
            </a>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
