---
import TagItem from "@components/TagItem";

interface Props {
  tags: string[];
  selectedTag?: string;
  isActivate?: boolean;
}

const { tags, selectedTag, isActivate } = Astro.props;
---

<div class="flex flex-wrap justify-center gap-x-2 gap-y-4">
  {
    tags.map((tag) => (
      <TagItem
        name={tag}
        isSelected={selectedTag === tag}
        isActivate={isActivate}
        client:load
      />
    ))
  }
</div>
