---
import TagItem from "@components/TagItem";

interface Props {
  tags: string[];
  selectedTag?: string;
  isActivate?: boolean;
  class?: string;
}

const { tags, selectedTag, isActivate, class: className } = Astro.props;
---

<div
  class={`flex flex-wrap justify-center gap-x-2 gap-y-4 ${
    className ? className : ""
  }`}
>
  {
    tags.map((tag) => (
      <TagItem
        name={tag}
        isSelected={selectedTag === tag}
        isActivate={isActivate}
        client:load
      />
    ))
  }
</div>
