---
import { ReactComponent as Moon } from "@icon/dark_mode.svg";
import { ReactComponent as Sun } from "@icon/light_mode.svg";
---

<div
  id="toggle"
  class="relative flex justify-between items-center p-0.5 cursor-pointer w-12 h-6 rounded-full bg-stone-200 dark:bg-blue-900"
>
  <Sun className="fill-yellow-400" />
  <Moon className="fill-blue-400" />
  <div
    id="toggle-circle"
    class="absolute top-0.5 left-0.5 invisible w-5 h-5 rounded-full bg-yellow-400 dark:bg-blue-400 dark:translate-x-6"
  >
  </div>
</div>

<script>
  import { updateStorage } from "@utils/storage";

  const $html = document.documentElement;
  const $toggle = document.querySelector("#toggle");
  const $circle = $toggle?.querySelector("#toggle-circle");
  let isDark = $html.classList.contains("dark");

  $circle?.classList.remove("invisible");
  $toggle?.addEventListener("click", handleToggle);

  function handleToggle() {
    const iframe = document.querySelector(
      "iframe.giscus-frame"
    ) as HTMLIFrameElement;
    const theme = isDark ? "" : "dark";
    const giscusTheme = isDark ? "light" : "dark_high_contrast";

    if ($circle) {
      if (!$circle.classList.contains("duration-300")) {
        $circle.classList.add("duration-300");
      }

      if (iframe?.contentWindow) {
        iframe?.contentWindow.postMessage(
          {
            giscus: {
              setConfig: { theme: giscusTheme },
            },
          },
          "https://giscus.app"
        );
      }

      $html.classList.toggle("dark");
      updateStorage("theme", theme);
      isDark = !isDark;
    }
  }
</script>
