---
import "../styles/global.css";
import Footer from "@components/Footer";
import Header from "@components/Header.astro";
import ThemeScript from "./ThemeScript.astro";
---

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
    <meta name="generator" content={Astro.generator} />
    <slot name="meta" />
    <ThemeScript />
  </head>
  <body>
    <div>
      <div class="sticky top-0 bg-white border-b mb-12 dark:bg-bg-body">
        <div class="container mx-auto max-w-screen-md">
          <Header />
        </div>
      </div>
      <div class="container mx-auto max-w-screen-md">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
